body {
	margin: 0;
	font-family: "Raleway", sans-serif;
}

#bg {
	height: 100vh;
	width: 100%;
	background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2015/02/28/630710/47c97ad9c228eb76b72b501e666612bd.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: fixed;
}

#dimmed-bg {
	background-color: rgba(255, 255, 255, 0.5);
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
}

