body {
	margin: 0;
	font-family: "Raleway", sans-serif;
}

#bg {
	height: 100vh;
	width: 100%;
	background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2015/02/28/630710/47c97ad9c228eb76b72b501e666612bd.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: fixed;
}

#dimmed-bg {
	background-color: rgba(255, 255, 255, 0.5);
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
}

#main { 
	display: flex;
	justify-content: center;
	width: 100%;
}

#container {
	width: 50%;
	display: flex;
	flex-direction: column;
	z-index: 9999;
}

#title,
#description {
	text-align: center;
	color: #444;
}

#form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
	padding: 1.5rem;
	color: #000;
	margin-bottom: 20px;
	box-shadow: 2px 6px 16px 0px rgba(0, 0, 0, 1);
	background-color: rgb(255, 255, 255, 0.9);
}

.form-group {
	margin: 0 auto 1.25rem auto;
	padding: 0.25rem;
}

#name,
#email,
#nember,
#dropdown {
	background-color: inherit;
	letter-spacing: 1.4px;
	color: inherit;
	font-weight: 500;
	font-size: 24px;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	margin-top: 0.5rem;
	padding-bottom: 5px;
	border-bottom: 2px solid #aaa;
	transition: all 0.5s;
}
#name:focus,
#email:focus,
#nember:focus,
#dropdown:focus {
	border-bottom-color: #000;
}
.form-group label {
	font-weight: 500;
	font-size: 24px;
}

#nember-label {
	display: block;
	margin-bottom: 0.5rem;
}

label span {
	font-size: 16px;
}

input[type="radio"] {
	display: none;
}
input[type="radio"] + span {
	display: inline-block;
	height: 10px;
	width: 10px;
	border: 1px solid #000;
	border-radius: 50%;
	position: relative;
	top: 0;
	left: 0;
}
input[type="radio"]:checked + span::after {
	content: "";
	position: absolute;
	height: 5px;
	width: 5px;
	background-color: #000;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
